.icon{width: 48px;height:48px;background: url("../assets/icon.png");}
.hot{background-position: 0px 0px;}
.notice{background-position: -75px 0px;}
.mv-top{background-position: -156px 0px;}
.item{background-position: -235px 0px;}