.icon{width: 48px;height:48px;background: url("../assets/icon.png");}
.hot{background-position: 0px 0px;}
.notice{background-position: -72px 0px;}
.mv-top{background-position: -145px 0px;}
.item{background-position: -218px 0px;}