.icon{width: 48px;height:48px;background: url("../assets/icon.png");}
.hot{background-position: 0px 0px;}
.notice{background-position: -75px 0px;}
.mv-top{background-position: -156px 0px;}
.family{background-position: -235px 0px;}
.movie_index{background-position: -300px -78px}
.movie_video{background-position: -357px -78px}
.movie_chat{background-position: -415px -78px}
.movie_own{background-position: -484px -78px}